@import 'tailwindcss';

@layer base {
  :root {
    color-scheme: light dark;
  }

  html {
    @apply font-sans;
  }

  body {
    @apply bg-background text-foreground;
  }

  * {
    @apply border-border outline-ring/50;
  }
}

@theme {
  --color-primary: #ffd323;
  --color-primary-foreground: #000;
  --color-background: light-dark(#fff, #000);
  --color-foreground: light-dark(#000, #fff);
  --color-border: color-mix(in srgb, var(--color-foreground), transparent 80%);
  --color-ring: #ffd323;
}
